<p>Explanation</p>
<ul>
  <li>Forms and Event</li>
  <li>(It is similar to thirdExample, but simpler)</li>
  <li>install font-awesome: npm install font-awesome --save</li>
  <li>ngModel and 2 way data binding</li>
</ul>

<!-- () html에서 코드로 영향을 끼침. 혹은 Function 호출 -->
<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form (submit)="onSubmit($event)">  <!-- 버튼으로만 작동하게 한다? 버튼요청이 새나가지 않도록? 코드 쪽 참고 -->
    <div class="form-group">
      <label>First Name</label>
      <!-- to use ngModel, "FormsModule" must be registered in app.module.ts -->
      <!-- [(ngModel)]를 사용하면 user.firstName이 자동적으로 binding되고 다시 코드로 되돌아나감. 코드에 addUser()참고
          이렇게 되면 텍스트박스에 값을 넣을때마다 실시간으로 코드쪽에도 값을 주고 다시 그 값을 다시 가져오게 된다.
      -->
      <input type="text" [(ngModel)]="user.firstName" class="form-control" name="fristName">
    </div>
    {{ user.firstName }} <!-- 그러면 위에 입력된 firstName 값이 실시간으로 보여지게 된다. -->
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="user.lastName" class="form-control" name="lastName">
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="number" [(ngModel)]="user.age" class="form-control" name="age">
    </div>
    <div class="form-group">
      <label>Street Address</label>
      <input type="text" [(ngModel)]="user.address.street" class="form-control" name="street">
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" [(ngModel)]="user.address.city" class="form-control" name="city">
    </div>
    <div class="form-group">
      <label>State</label>
      <input type="text" [(ngModel)]="user.address.state" class="form-control" name="state">
    </div>

    <!-- event and event handler: javascript -->
    <!-- [] 뒤에 = "" 안에는 typescript 문법을 따른다 -->
    <!-- click, disabled, class 등은 모두 Html의 속성이다. 근데 이름들이 완전 동일하진 않고... 실제 html click은 onclick이 되어야 한다던지 -->
    <button (click)="addUser()" [disabled]="user.firstName == '' || user.lastName == '' " class="btn btn-block mb-3">Add
      New User</button>

  </form>
</div>

<h2>Users</h2>

<!-- *ngIf로 해당 태그가 있느냐 없느냐를 결정. 보이고 안보이고, 보이고 숨기고 그런 문제가 아님. -->
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0;else noUsers">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive" [style.border-color]="user.isActive? 'green' : ''">
    <h3>
      {{ user.firstName }} {{ user.lastName }}
      <small *ngIf="user.age && user.address"><button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm"><i
            [ngClass]="user.hide ? 'fa fa-plus': 'fa fa-minus' "></i></button></small>
    </h3>
    <ul class="list-group" *ngIf="!user.hide && user.age && user.address">
      <li class="list-group-item">Age: {{ user.age }}</li>
      <li class="list-group-item">Address: {{ user.address.city }} {{user.address.street}} {{user.address.state}}</li>
      <li class="list-group-item">Joined:{{ user.registered | date: "yyyy-mm-dd" }}</li>
    </ul>
  </li>
</ul>

<!-- ng-template -->
<ng-template #noUsers>No Users Found</ng-template>
<!-- <h4 *ngIf="users.length == 0">No Users Found</h4> -->
<h4 *ngIf="!loaded">Loading users...</h4>