<p>Explanation</p>
<ul>
    <li>Environment Setup</li>
    <li>Angular File Structure (Module, Service and Component)</li>
    <li>Component</li>
    <li>TypeScript Data Type and basic structure overview</li>
</ul>

<!-- string interpolation -->
<h2>{{firstName}} {{ lastName }} </h2>

<ul>
    <li>Age: {{ age }}</li>
    <li>Age: {{ showAge() }} </li>  <!-- Angular 문법을 써야하기 때문에 C#처럼 ';'를 붙이지 않음 -->
    <li>Address: {{ address.city }} {{address.street}} </li>
    <li>Temp Var: {{ tempVar }}</li>
</ul>