<h2>Customers</h2>

<button (click)="showCustomerForm = !showCustomerForm" class="btn btn-dark mb-3">Add Customer</button>

<div class="card card-body mb-3" *ngIf="showCustomerForm">
  <h2>Add Customer</h2>
  <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm)">
    <div class="form-group">
      <label>Name</label>
      <!-- to use ngModel, "FormsModule" must be registered in app.module.ts -->
      <input type="text"
     [(ngModel)] = "customer.name" 
     [ngClass]="{'is-invalid':customerName.errors && customerName.touched}"
     class="form-control"
     name="name"
     #customerName="ngModel"
     required
     minLength="2">
     <div [hidden]="!customerName.errors?.required" class="invalid-feedback">Name required</div>
     
     <div [hidden]="!customerName.errors?.minlength" class="invalid-feedback">Must be at least 2 characters</div>                            
    </div>
 <!-- {{ user.name }}  -->
    <div class="form-group">
      <label>MobilePhone</label>
      <input type="text"
     [(ngModel)] = "customer.mobilePhone" 
      [ngClass]="{'is-invalid':customerMobilePhone.errors && customerMobilePhone.touched}"    
      class="form-control" 
      name="mobilePhone"
      #customerMobilePhone="ngModel" 
      required
      pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
      
      <div [hidden]="!customerMobilePhone.errors?.required" class="invalid-feedback">Mobile Phone Number required</div>
      <div [hidden]="!customerMobilePhone.errors?.pattern" class="invalid-feedback">Phone Number is not valid</div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" 
      [(ngModel)] = "customer.eMail"   
      [ngClass]="{'is-invalid':customerEmail.errors && customerEmail.touched}"    
      class="form-control" 
      name="Email"
      #customerEmail="ngModel" 
      required
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">

      <div [hidden]="!customerEmail.errors?.required" class="invalid-feedback">Email required</div>
      <div [hidden]="!customerEmail.errors?.pattern" class="invalid-feedback">Email is not valid</div>
    </div>
    

    <button [disabled]="!customerForm.form.valid" class="btn btn-block mb-3">Add
      New Customer</button>

  </form>
</div>


<ul class="list-unstyled" *ngIf="loaded && customers?.length > 0;else noCustomers">
  
  <li class="card card-body mb-2" *ngFor="let customer of customers" >
    
    <h3>
       {{ customer.name | uppercase }} 
      <small><button (click)="customer.hide = !customer.hide" class="btn btn-dark btn-sm"><i
        [ngClass]="customer.hide ? 'fa fa-minus': 'fa fa-plus' "></i></button></small>
      
    </h3>
    <ul class="list-group" *ngIf="customer.hide && !customer.isDeleted">
      <li class="list-group-item">Mobile Phone Number: {{ customer.mobilePhone }}</li>
      <li class="list-group-item">Email: {{ customer.eMail }} </li>
    </ul>      
   
  </li>
</ul>

<!-- ng-template -->
<ng-template #noCustomers>No Customers Found</ng-template>
<!-- <h4 *ngIf="users.length == 0">No Users Found</h4> -->
<h4 *ngIf="!loaded">Loading customers...</h4>