<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PubsConnectionString" value="Server=DESKTOP-EE2ITO6\SQLEXPRESS;Database=Pubs;Trusted_Connection=True;" />
	<!--<add key="AWConnectionString" value="Server=DESKTOP-EE2ITO6\SQLEXPRESS;Database=Pubs;Trusted_Connection=True;" />-->
  </appSettings>
</configuration>